<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.dao.EmpCodeDao">
	
	<!-- 查询请假明细 -->
	<select id="findEmpCodeCount" parameterType="com.kh.vo.EmpCodeQuery" resultType="Integer">
		select count(1) 
		  from employee_code a 
		where 1=1
		<if test="name!=null and name!=''">
			and a.name = #{name}
		</if>
		<if test="code!=null and code!=''">
			and a.code = #{code}
		</if>
		<if test="id!=null and id!=''">
			and a.id = #{id}
		</if>
	</select>
	
	<!-- 查询请假明细 -->
	<select id="findEmpCode" parameterType="com.kh.vo.EmpCodeQuery" resultType="com.kh.model.EmpCode">
		select a.code,a.name,a.id  
		 from employee_code a 
		where 1=1
		<if test="name!=null and name!=''">
			and a.name = #{name}
		</if>
		<if test="code!=null and code!=''">
			and a.code = #{code}
		</if>
		<if test="id!=null and id!=''">
			and a.id = #{id}
		</if>
		order by a.code 
		limit #{start},#{pageSize}
	</select>
	
	<!-- 新增请假信息 -->
	<insert id="insertEmpCode" parameterType="com.kh.model.EmpCode">
		insert into employee_code(code,name,id)
		values
		(
			#{code},
			#{name},
			#{id}
		)
	</insert>
	
	<select id="checkEmpCodeExist" parameterType="com.kh.model.EmpCode" resultType="String">
		select 1 from employee_code 
		where code=#{code} 
	</select>
</mapper>